<table class="example_table">
  <tr><td colspan="3">Example Data 1</td></tr>
  <tr>
    <th>Item 1</th>
    <th>Item 2</th>
    <th>Item 3</th>
  </tr>
  <tr *ngFor="let example of example_data1; let i = index">
    <td>{{example.item1}}</td>
    <td>{{example.item2}}</td>
    <td>{{example.item3}}</td>
  </tr>
</table>
<br>
<table class="example_table">
  <tr><td colspan="3">Example Data 2</td></tr>
  <tr>
    <th>Item 1</th>
    <th>Item 2</th>
    <th>Item 3</th>
  </tr>
  <tr *ngFor="let example of example_data2; let i = index">
    <td>{{example.service_item_1}}</td>
    <td>{{example.service_item_2}}</td>
    <td>{{example.service_item_3}}</td>
  </tr>
</table>
